<script>
function changeText2(){
    var userInput = document.getElementById('userInput').value;
    var lnk = document.getElementById('lnk');
    lnk.href = "https://pos.snapscan.io/qr/SSA2245?id=" + userInput;
    lnk.innerHTML = lnk.href;
    window.location = "https://pos.snapscan.io/qr/SSA2245?id=" + userInput;
}
</script>
Enter your email address please
<a hidden href="" id=lnk></a> <br>
<input type='text' id='userInput' value="" />
<input type='button' onclick='changeText2()' value='Pay'/>
